@using HotelCalifornia.PaymentGateway.Web.Features.CardHost
@model HotelCalifornia.PaymentGateway.Web.Features.CardHost.CodeHostViewModel
@{
    Layout = null;
}
<html>
<head>
<title>Payment Host</title>
</head>
<body>


@*<script>
     

    
</script>*@
<script type="text/javascript" src="@Url.Action("Script", "CardHost", new {identifyingToken=Model.IdentifyingToken})" integrity="sha256-@Html.Raw(Model.SriHash)"></script></body>

</html>